# ================================================================
# Go
# https://github.com/github/gitignore/commit/c94ee9a8e717f44d8d7926e9f4aecba52aa5918f
# ================================================================

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
